#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh --with autoreconf $@

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=libmbus1-dbg

override_dh_autoreconf:
	mkdir m4
	dh_autoreconf

#override_dh_usrlocal:
#	echo "dh_usrlocal does nothing"
